&trackball_central_listener {
    status = "okay";
    device = <&trackball_central>;
    input-processors 
      = <&zip_xy_to_scroll_mapper>
      , <&zip_xy_scaler (1) (1)>
      , <&zip_ble_report_rate_limit>;
};